.imagecontainer {
  width: 99%;
  height: 100vh;
  border: 2px solid red;
  background-image: url("https://realconnex-webapp.mobileprogramming.net/static/media/3dBG_view.b098b0a2d064ff9e1cc7.png");
  background-size: 99vw 100vh;
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
}
.canvas{
  width: 99%;
  height: 100vh;
}